@import "variable.scss";

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  font-size: 16px;
  color: $primary-color;
}

/*helper class*/
.text-a-c{
  text-align: center;
}

.main-content{
  width: 800px;
  margin: 0 auto;
  padding: 20px;
  background: #f1ecec;
  @media screen and (max-width: $screen-tab){
    width: 700px;
  }
  @media screen and (max-width: $screen-mobile) {
    width: initial;
  }
  .progress-bar{
    width: 500px;
    margin: 10px auto;
    padding: 15px 0;
    background: #fff;
    border: 1px solid #000;
    @media screen and (max-width: $screen-mobile) {
      width: initial;
    }
  }
  .btns{
    select{
      height: 29px;
      padding: 5px;
      background: $btn-color;
      color: $btn-font-color;
      @media screen and (max-width: $screen-mobile) {
        width: 100%;
        margin: 10px 0;
      }
    }
    .progress-btn{
      display: inline-block;
      margin: 0 3px;
      padding: 6px 10px;
      color: $btn-font-color;
      background-color: $btn-color;
      border: none;
      text-align: center;
      text-decoration: none;
      @media screen and (max-width: $screen-mobile) {
        width: 100%;
        margin: 3px 0;
        padding: 10px;
      }
    }
  }
}
